<%- include('partials/header.ejs') %>
<div style="min-height: 100vh;">
  <div class="container-fluid mx-auto d-flex justify-content-center my-5">
    <form class="d-flex" action="/panels" method="get" id="panel-form">
        <input class="form-control me-2 form-guess" style="width: 300px;" id="panelId" type="text" name="panelId" placeholder="Digite o nome de um painel..." required>
        <button class="btn btn-success btn-guess" type="submit">Pesquisar</button>
    </form>
  </div>

    <% if (locals.data) { %>
      <div class="row p-2 text-center" style="width: 100%;">
        <% data.forEach(panel => { %>
          <div class="col-lg-4 mb-4 mt-3 d-flex justify-content-center">
            <div class="card mb-3">
              <a href="/panels/<%= panel.id %>" style="color: white; text-decoration: none;">
                <div class="mx-auto pt-3">
                  <img src="http://localhost:8080/api/panels/<%= panel.id %>/foto" alt="Painel" class="solar-panel-card-img card-img-top">
                </div>
                <div class="card-body border-bottom">
                  <h3 class="card-title mt-2"><%= panel.model %></h3>
                  <h4 class="card-text"><%= panel.brand %></h4>
                  <a href="/panels/<%= panel.id %>" name="panelId" id="panelId" class="btn btn-success btn-guess mt-3" type="submit">Visualizar</a>
                </div>
              </a>
            </div>
          </div>
        <% }); %>
      </div>
    <% } %>
</div>

<script>
  document.getElementById('panel-form').addEventListener('submit', function(event) {
      event.preventDefault();
      const panelId = document.getElementById('panelId').value;
      window.location.href = `/panels/${panelId}`;
  });
</script>
<%- include('partials/footer.ejs') %>